.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__current-group
        = @group.name
      %ul.chat-main__main-header__left-box__member-list
        Member :
        %li.chat-main__main-header__left-box__member-list__member
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "chat-main__main-header__edit-btn" do
      Edit
      %sapn<>
  .chat-main__messages
    = render @messages
  .chat-main__form
    .chat-main__form__box
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'chat-main__form__box__message', placeholder: 'type a message'
        .chat-main__form__box__btn
          = f.label :image, class: 'btn' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chat-main__form__box__submit'