.chat-side
  .chat-side__side-header
    .chat-side__side-header__box
      .chat-side__side-header__box__user-name
        = current_user.name
      .chat-side__side-header__box__menu
        = link_to new_group_path, class: "chat-side__side-header__box__menu--btn" do
          = icon('far fa-edit', class: "chat-side__side-header__box__menu--new-group")
          %span<>
        = link_to edit_user_path(current_user), class: "chat-side__side-header__box__menu--btn" do
          = icon('fa fa-cog', class: "chat-side__side-header__box__menu--edit-user")
          %span<>

  .chat-side__groups
    - current_user.groups.each do |group|
      .chat-side__groups__group
        = link_to '#',class: "chat-side__groups__group__link" do
          .chat-side__groups__group__group-name
            = group.name
          .chat-side__groups__group__lasted-message
            最終メッセージ